@tailwind base;

@layer base {
  h1 {
    @apply text-4xl font-extrabold leading-tight tracking-tighter mt-12 mb-12;
  }

  h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter mt-10 mb-8;
  }

  h3 {
    @apply text-3xl font-bold leading-tight mt-10 mb-6;
  }

  h4 {
    @apply text-2xl font-bold leading-snug tracking-tight mt-10 mb-4;
  }

  @screen md {
    h1 {
      @apply text-5xl;
    }

    h2 {
      @apply text-4xl;
    }
  }

  p,
  pre,
  code {
    @apply my-5;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

* {
  /* transition: ; */
}
